---
layout: layout/default.liquid
---

<table class="events">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Date</th>
  </tr>
{%- for event in events -%}
  <tr>
    <td>{{ event.name }}</td>
    <td>{{ event.location }}</td>
    <td>{{ event.date }}</td>
  </tr>
{%- endfor -%}
</table>
