html, body {
    /* height: 100%; */
    margin: 0;
}

body {
    background-color: #CC6699;
    /* background-color: #FF99CC; */
    /* display: flex; */
    /* flex-direction: column; */
    /* background: linear-gradient(to bottom, #B012CE 0%, #C4B8C5 100%) */
}

#logo {
     text-align: center;
}

#logo h1 {
    font-size: 5vh;
    font-weight: bolder;
}

.page {
    /* background-color:  #FFBBAA; */
    background-color: #FF99CC;
    margin: 0px 15%;
    padding: 0px;
    height: 100vh;
    font-size: 1.2em;
    /* height: 100%; */
    /* flex-grow: 1; */
}

.content {
    margin: 25px;
}

#nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: #dddddd; */
}

#nav-bar ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    /* border: 1px solid black; */
}

#nav-bar li {
    float: left;
    border-right: 1px solid black;
}

#nav-bar li:hover {
    /* background-color: grey; */
}

#nav-bar .active {
    background-color: #FF66CC;
;
}

#nav-bar li:last-child {
    float:right;
    border-right: none;
}

#nav-bar a {
    display: block;
    color: black;
    font-size: 1.4em;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.events td {
    padding: 10px 16px;
}


@media screen and (max-width: 700px) {
    #nav-bar li  {
        float: none;
        border-right: none;
    }

    #nav-bar li:last-child {
        float: none;
        border-right: none;
    }

    #nav-bar ul {
        display: block;
    }

    .page {
        margin: 0px 5%;
    }
}

